@use "variables" as kvar;

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.3rem;
  color: kvar.$ky-text;
  border-top: .2rem solid kvar.$black;

  th, td {
    padding: .5rem;
    border: 1px solid #e5e7eb;
    text-align: left;
    vertical-align: middle;
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
    &.align-c {
      text-align: center;
    }
    &.ing {
      color: kvar.$ky-secondary;
    }
    &.ok {
      color: kvar.$ky-primary;
    }
    &.depth-title {
      background-color: kvar.$ky-gray-2;
      text-align: center;
      font-weight: 700;
    }
  }

  thead th {
    padding: .6rem 0;
    font-weight: 700;
    background: kvar.$black;
    color: kvar.$white;
    text-align: center;
    border-bottom: .1rem solid kvar.$black;
  }

  &-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.page-tab {
  display: inline-block;
  padding: .4rem 3.2rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  background: kvar.$ky-gray-3;
  color: kvar.$black;
  &.active {
    background: kvar.$ky-primary;
    color: kvar.$white;
    font-weight: 700;
  }
}