@use "variables" as kvar;
@use 'mixins' as kmix;

/* 타이틀 */
.tit {
  &-headline { 
    @include kmix.ky-headline(); 
  }                 
  &-h2 { 
    @include kmix.ky-title(); 
  }                 
  &-h3 { 
    @include kmix.ky-sub-title(); 
  }               
  &-h4 { 
    @include kmix.ky-sub-title(2.2rem); 
  }             
  &-h5 { 
    @include kmix.ky-sub-title(2rem); 
  } 
}

/* Text */
.txt-body {
  @include kmix.ky-body();
  &-lg {
    @include kmix.ky-body-lg();
  }
  &-md {
    @include kmix.ky-label();
  }
  &-sm {
    @include kmix.ky-caption();
  }
  &-disc {
    @include kmix.ky-disc();
  }
}

/* Text color */
.txt-color {
  &-default {
    color: kvar.$black;
  }
  &-pri {
    color: kvar.$ky-primary;
  }
  &-sec {
    color: kvar.$ky-secondary;
  }
  &-third {
    color: kvar.$ky-third;
  }
  &-err {
    color: kvar.$ky-error;
  }
}

/* Table */
.ky-table-out {
  table {
    border-top: .1rem solid kvar.$black;
    border-bottom: .1rem solid kvar.$ky-gray-5;
    table-layout: fixed;
    th {
      padding: .8rem;
      border-bottom: .1rem solid .1rem solid kvar.$ky-gray-5;
      height: 4.8rem;
      color: kvar.$black;
      text-align: center;
      background-color: kvar.$ky-gray-2;
      & + th {
        border-left:.1rem solid kvar.$ky-gray-5;
      }    
    }
    td {
      padding: .8rem;
      border-bottom: .1rem solid kvar.$ky-gray-5;
      height: 4.8rem;
      color: kvar.$black;
      & + td {
        border-left:.1rem solid kvar.$ky-gray-5;
      }
    }
    tfoot {
      th {
        color: kvar.$black;
        font-weight: 500;
        & + td {
          border-left:.1rem solid kvar.$ky-gray-5;
        }
      }
      td {
        background-color: kvar.$ky-gray-2;
      }
    }
  }
}

/* 접근성 숨김 */
.ky-hide {
  @include kmix.ky-hidden;
}