@use "variables" as kvar;
@use 'mixins' as kmix;

/* 타이틀 */
.tit {
  &-headline { 
    @include kmix.ky-headline(); 
  }                 
  &-h2 { 
    @include kmix.ky-title(); 
  }                 
  &-h3 { 
    @include kmix.ky-sub-title(); 
  }               
  &-h4 { 
    @include kmix.ky-sub-title(2.2rem); 
  }             
  &-h5 { 
    @include kmix.ky-sub-title(2rem); 
  }            
  &-h6 { 
    @include kmix.ky-sub-title(1.8rem); 
  } 
}

/* Text */
.txt-body {
  @include kmix.ky-body();
  &-lg {
    @include kmix.ky-body-lg();
  }
  &-md {
    @include kmix.ky-label();
  }
  &-sm {
    @include kmix.ky-caption();
  }
  &-desc {
    @include kmix.ky-desc();
  }
}

/* Text color */
.txt-color {
  &-default {
    color: kvar.$black !important;
  }
  &-pri {
    color: kvar.$ky-primary !important;
  }
  &-sec {
    color: kvar.$ky-secondary !important;
  }
  &-third {
    color: kvar.$ky-third !important;
  }
  &-err {
    color: kvar.$ky-error !important;
  }
}

/* text 정렬 */
.txt-align {
  &-l {
    text-align: left !important;
  }
  &-c {
    text-align: center !important;
  }
  &-r {
    text-align: right !important;
  }
}

/* 버튼 */
.btn-group {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.8rem;
  justify-content: center;
  line-height: 1;
}

/* Form */
.form-area {
  margin-top: 4.8rem;
  .form-item {
    .label {
      margin-bottom: 0.8rem;
      @include kmix.ky-label(1.4rem, 500);
    }
    & + .form-item,
    & + .ipt-group {
      margin-top: 3.2rem;
    }
    & + .tit-h6 {
      margin: 4.8rem 0 1.2rem;
    }
  }
}

/* Form : input */
.ipt-group {
  position: relative;
  .label {
    display: block;
    @include kmix.ky-label(1.4rem, 500);
    & + .ipt-field {
      margin-top: .8rem;
    }
  }
  .ipt-field {
    position: relative;
    .ipt-text {
      flex: 1;
      padding: 0 1.6rem 0 1.2rem;
      border: none;
      border-radius: .4rem;
      outline: none;
      width: 100%;
      height: 5.2rem;
      color: kvar.$black;
      @include kmix.ky-body(1.4rem);
      background: transparent;
      border-radius: .8rem;
      border: .1rem solid kvar.$ky-gray-2;

      &::placeholder {
        color: kvar.$ky-gray-5;
        @include kmix.ky-body(1.4rem)
      }

      &::-webkit-input-placeholder {
        color: kvar.$ky-gray-5;
        @include kmix.ky-body(1.4rem)
      }

      &:-ms-input-placeholder {
        color: kvar.$ky-gray-5;
        @include kmix.ky-body(1.4rem)
      }

      &[type=password] {
        padding: 0 0 0 1.2rem;
      }

      &:read-only {
        color: kvar.$black;
        background-color: kvar.$ky-gray-1;
      }
      &:disabled {
        color: kvar.$black;
        background-color: kvar.$ky-gray-1;
      }
    }    
    .btn-ipt-del {
      position: absolute;
      top: 50%;
      right: 1.2rem;
      width: 2.5rem;
      height: 3.2rem;
      color: transparent;
      font-size: 0rem;
      letter-spacing: -0.8rem; 
      line-height: 0;
      transform: translateY(-50%);
      z-index: 15;
      span {
        display: inline-block;
        position: relative;
        width: 1.8rem;
        height: 1.8rem;
        background-color: #b4b9c3;
        border-radius: 50%;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 0.8rem;
          height: 0.1rem;
          background-color: #fff;
        }

        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
    .btn-ipt-search {
      position: absolute;
      top: 50%;
      right: 0.8rem;
      width: 3.6rem;
      height: 3.3rem;
      color: transparent;
      font-size: 0rem;
      letter-spacing: -0.8rem; 
      line-height: 0;
      transform: translateY(-50%);
      z-index: 15;
      background: url(/public/images/common/btn_search.svg) no-repeat center;
      background-size: 2.4rem;
    }
    &[class*=unit] {
      &.unit-one {
        .ipt-text {
          padding-right: 4.2rem;
          text-align: right;
          &::placeholder {
            text-align: left;
          }
        }  
        .btn-ipt-del {
          right: 4.2rem;
        }
      }
      &.unit-two {
        .ipt-text {
          padding-right: 4.2rem;
          text-align: right;
          &::placeholder {
            text-align: left;
          }
        }  
        .btn-ipt-del {
          right: 4.2rem;
        }
      }
    }
  }

  .hint {
    display: block;
    margin-top: .4rem;
    color: kvar.$ky-gray-6;
    @include kmix.ky-desc();
  } 

  .unit {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 5rem;
    color: #666;
  }
  &.error {
    .ipt-field {
      .ipt-text {
        border-color: kvar.$ky-error;
      }
    }
    .hint {
      color: kvar.$ky-error;
    }
  }
  &.address {
    .ipt-field {
      .ipt-text {
        padding-right: 4.8rem;
      }
    }
    & + .ipt-group {
      margin-top: 0.8rem;
    }
  }
}


/* Form : checkbox, radio */
.check-group {
  display: flex;
  flex-wrap: wrap;
  row-gap: .4rem;
  margin: 0 -.4rem;
}

.check-item {
  display: inline-block;
  position: relative;
  .input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:focus + label {
      text-decoration: underline;
    }

    &[disabled] + label {
      color: #b4b9c3;
    }

    &[type="checkbox"] {
      + label {
        &::after {
          content: "";
          overflow: hidden;
          position: absolute;
          z-index: 1;
          width: 0.7rem;   // 7px
          height: 1.1rem;  // 11px
          box-sizing: border-box;
          border: 0.1rem solid #b4b9c3; // 1px
          border-width: 0 0.2rem 0.2rem 0; // 0 2px 2px 0
          background-color: transparent;
          transform: rotate(45deg);
          left: 0.9rem; // 9px
          top: 0.5rem;  // 5px
        }
      }

      &:checked + label {
        &::before {
          border-color: #2388ff;
          background-color: #2388ff;
        }
        &::after {
          border-color: #fff;
        }
      }

      &:checked[disabled] + label {
        &::before {
          background-color: #ecf1f6;
          border-color: #d1dce3;
        }
        &::after {
          border-color: #b4b9c3;
        }
      }

      &[disabled] + label {
        &::before {
          background-color: #ecf1f6;
        }
        &::after {
          border-color: #fff;
        }
      }
    }

    &[type="radio"] {
      + label {
        &::before {
          border-radius: 50%;
        }
        + .pop-detail {
          display: none;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 5rem;   // 50px
          height: 5rem;  // 50px
        }
      }

      &:checked + label::before {
        border: 0;
        box-shadow: inset 0 0 0 0.7rem #0068ff; // 7px
      }

      &:checked[disabled] + label::before {
        background-color: #b4b9c3;
        box-shadow: inset 0 0 0 0.6rem #ecf1f6; // 6px
      }

      &[disabled] + label::before {
        background-color: #ecf1f6;
      }
    }
  }

  .input + label {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-left: 3.6rem; // 36px
    font-size: 1.6rem;
    vertical-align: middle;
    line-height: 2.4rem;  // 24px
    cursor: pointer;

    &::before {
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 2.4rem;   // 24px
      height: 2.4rem;  // 24px
      box-sizing: border-box;
      border-radius: 0.8rem;          // 8px
      border: 0.1rem solid #d1dce3;   // 1px
      background-color: #fff;
      transition: all ease-in-out 0.15s;
    }
  }
}

.check-group {
  &[class*=check-type--] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
    &.check-type--box {
      .check-item {
        padding: 0.4rem;
        .input + label {
          display: block;
          height: 5.2rem;
          padding: 1.1rem 0.5rem;
          border: 0.1rem solid #d1dce3;
          border-radius: 0.8rem;
          background-color: kvar.$white;
          text-align: center;
          align-content: center;
          @include kmix.ky-label(1.4rem, 500);
          &:before {
            display: none;
          }
        }

        .input {
          &:focus + label {
            outline: -webkit-focus-ring-color auto 0.1rem;
          }

          &:checked + label {
            border-color: kvar.$ky-primary;
            border-width: 0.1rem;
            color: kvar.$ky-primary;
            font-weight: 700;
            background-color: rgba(kvar.$ky-primary, 0.05);
          }

          &:checked[disabled] + label {
            border-color: #d1dce3;
          }

          &[disabled] + label {
            border-color: #f6faff;
            background-color: #f6faff;
            color: #b4b9c3;
            font-weight: 500;
          }

          &[type="checkbox"] {
            + label {
              padding-right: 3rem;
              text-align: left;

              &::after {
                left: auto;
                right: 2.2rem;
                top: 50%;
                transform: rotate(45deg) translateY(-100%);
              }
            }

            &:checked + label::after {
              border-color: #2388ff;
            }

            &[disabled] + label::after {
              border-color: #b4b9c3;
            }
          }
        }

        .ico {
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 1rem;
        }

        .radio-btn {
          height: 100%;
          padding: 0.2rem 1.5rem 0;
          border: 0.1rem solid #d7e0e6;
          border-radius: 0.8rem;
          background-color: #fff;
          font-size: 1.6rem;
          text-align: center;
          align-content: center;

          &.checked {
            border-color: #2388ff;
            border-width: 0.2rem;
            font-weight: 700;

            > span {
              color: #2388ff;
            }
          }
        }
      }

      &.review {
        .check-item {
          .input + label {
            display: flex;
            align-items: center;

            .tit {
              line-height: 1.2;
            }
          }
        }
      }

      &.auth {
        .check-item {
          .ico {
            width: 4.8rem;
            height: 4.8rem;
            margin-right: 1.2rem;
            border-radius: 0;
            background-color: transparent;
          }

          .input + label {
            display: flex;
            align-items: center;
            padding: 1.6rem 2rem;
            border-radius: 1.2rem;
            color: #868a93;
            font-size: var(--font-xs);
            line-height: 1.5;
            text-align: left;

            .tit > span {
              display: block;
              color: #1b1c2a;
              font-size: 1.6rem;
              font-weight: 700;
            }
          }

          .input:checked + label {
            .tit { font-weight: 500; }
            .tit > span { color: #2388ff; }
          }
        }
      }
    }
  }
}

/* 토글 스위치 */
.toggle-out {
  display: inline-block;

  .toggle {
    position: relative;
    cursor: pointer;
    display: inline-block;

    &:hover {
      .toggle-switch:before {
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
      }
    }
    
    .toggle-switch {
      display: inline-block;
      background: #ccc;
      border-radius: 1.6rem;
      width: 5.8rem;
      height: 3.2rem;
      position: relative;
      vertical-align: middle;
      transition: background 0.25s;

      &:before,
      &:after {
        content: "";
      }

      &:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25);
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
        transition: left 0.25s;
      }
    }

    .toggle-checkbox {
      position: absolute !important;
      width: 0.1rem !important;
      height: 0.1rem !important;
      visibility: visible !important;
      opacity: 0 !important;
      margin: -0.1rem !important;
      clip: rect(0 0 0 0) !important;
      clip-path: inset(50%) !important;
      overflow: hidden !important;

      &:focus + .toggle-switch,
      &:focus-visible + .toggle-switch {
        outline: 3px solid #1a73e8;
        outline-offset: 2px;
        box-shadow: 0 0 0 3px rgba(26, 115, 232, 0.25);
      }

      &:disabled + .toggle-switch {
        opacity: 0.5;
        cursor: not-allowed;
      }
      &:disabled + .toggle-switch:before {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
      }

      &:checked + .toggle-switch {
        background: kvar.$ky-primary;
        &:before {
          left: 3rem;
        }
      }
    }

    .toggle-label {
      margin-left: 0.5rem;
      position: relative;
      top: 0.2rem;
    }
  }
}


/* button - 기본 */
.btn {
  width: 100%;
  padding: 1.4rem .8rem;
  // border-radius: .8rem;
  height: 6.8rem;
  color: kvar.$white;
  @include kmix.ky-body(1.6rem, 600);
  text-align: center;

  &.btn-pri {
    background-color: kvar.$ky-primary;
  }

  &.btn-sec {
    background-color: kvar.$ky-secondary;
  }

  &.btn-third {
    color: kvar.$ky-gray-5;
    background-color: #e6eff8;
  }

  &.btn-outline {
    border: 0.1rem solid kvar.$black;
    color: kvar.$black;
    font-weight: 600;
  }

  &.select-box {
    height: 5.8rem;
    padding: 0 4rem 0 1.6rem;
    border: 0.1rem solid kvar.$ky-gray-4;
    border-radius: 0.8rem;
    color: kvar.$black;
    @include kmix.ky-body(1.4rem, 500);
    text-align: left;
    background: url(/public/images/common/ico_select_arrow.svg) no-repeat right 1.6rem center;
  }

  &.disabled {
    color: kvar.$ky-gray-5;
    background-color: kvar.$ky-gray-2;
  }

  &.md {
    border: .1rem solid transparent;
    padding: 1rem .8rem;
    height: 4rem;
  }

  &.sm {
    border: .1rem solid transparent;
    padding: 0rem .8rem;
    height: 3.2rem;
  }
}

/* button - link */
.btn-underline {
  display: inline-block;
  color: kvar.$ky-gray-7;
  text-decoration: underline;
}

/* button - arrow */
.btn-arrow {
  display: inline-block;
  position: relative;
  color: kvar.$ky-primary;
  padding-right: 1.6rem;
  &:after,
  &:not(button):after {
    content: "";
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: .7rem;
    height: .7rem;
    box-sizing: border-box;
    border: 1px solid #2388ff;
    border-width: 0 .1rem .1rem 0;
    transform: translateY(-50%) rotate(315deg);
    right: 0;
    top: 50%
  }
}

/* Table */
.ky-table-out {
  table {
    border-top: .1rem solid kvar.$black;
    border-bottom: .1rem solid kvar.$ky-gray-5;
    table-layout: fixed;
    th {
      padding: .8rem;
      border-bottom: .1rem solid .1rem solid kvar.$ky-gray-5;
      height: 4.8rem;
      color: kvar.$black;
      text-align: center;
      background-color: kvar.$ky-gray-2;
      & + th {
        border-left:.1rem solid kvar.$ky-gray-5;
      }    
    }
    td {
      padding: .8rem;
      border-bottom: .1rem solid kvar.$ky-gray-5;
      height: 4.8rem;
      color: kvar.$black;
      & + td {
        border-left:.1rem solid kvar.$ky-gray-5;
      }
    }
    tbody {
      th {
        text-align: left;
        border-bottom: .1rem solid kvar.$ky-gray-5;
        & + td {
          border-left:.1rem solid kvar.$ky-gray-5;
        }
      }
    }
    tfoot {
      th {
        color: kvar.$black;
        font-weight: 500;
        & + td {
          border-left:.1rem solid kvar.$ky-gray-5;
        }
      }
      td {
        background-color: kvar.$ky-gray-2;
      }
    }
  }
}

/* 가로 나누기 */
.split {
  &-1 > * {
    display: inline-block!important;
    width: 100%!important
  }
  &-2 > * {
    display: inline-block!important;
    width: 50%!important
  }
  &-3 > * {
    display: inline-block!important;
    width: 33.3333%!important
  }
  &-4 > * {
    display: inline-block!important;
    width: 25%!important
  }
}

/* 접근성 숨김 */
.ky-hide {
  @include kmix.ky-hidden;
}