@use "variables" as kvar;
@use 'mixins' as kmix;

.title-area {  
  margin-bottom: 4.8rem;
  .txt-body {
    margin-top: 2.4rem;
  }
}
.step-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .step-tit {
    @include kmix.ky-title(2.2rem, 600, 2.4rem);
  }
  .step-num {
    display: flex;
    gap: 0.4rem;
    li {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      color: kvar.$white;
      @include kmix.ky-desc(1.3rem, 500, 2.4rem);
      background-color: #ddd;
      text-align: center;
      &.selected {        
        background-color: kvar.$ky-primary;
      }
    }
  }
}