@use "variables" as kvar;
@use "mixins" as kmix;

.ky-mo {
  &-wrap {
    width: 100%;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.6rem;
    padding: 0 1.8rem;
    background-color: kvar.$white;
    .header-title {
      @include kmix.ky-headline(1.6rem);
    }
    .nav-wrap {
      flex-shrink: 0;
      display: flex;
      gap: 0.4rem;
    }
    [class^=btn-header] {
      width: 2.4rem;
      height: 2.4rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2.4rem;
      &.btn-header-back {
        background-image: url(/public/images/common/btn_header_back.svg);
      }
      &.btn-header-cancel {
        width: auto;
        color: kvar.$black;
        @include kmix.ky-label();  
      }
    }
  }
  &-container {
    padding: 9.6rem 2.4rem 10rem;
    .ky-mo-contents {

    }
    .bottom-area {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6.8rem;
    }
  }
}