@use "variables" as kvar;
@use "mixins" as kmix;

.container { 
  @include kmix.container(1920px); 
}
.page-head { 
  padding: 2rem 0; 
}
.page-title { 
  margin: 0; 
  font-size: 2.8rem; 
  font-weight: 700; 
}
.page-actions { 
  display: flex; 
  flex-wrap: wrap; 
  gap: .5rem; 
  margin-top: .75rem; 
}

.btn-guide-box { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-end;
  margin-bottom: 1rem; 
  li {
    display: block;
    padding: 0 1rem;
    a {
      font-size: 1.5rem;
      &:hover {
        color: kvar.$ky-primary;
        font-weight: 700;
        text-decoration: underline;
      }
    }
    + li {
      border-left: .1rem solid kvar.$ky-gray-3;
    }
  }
}
