
@charset "utf-8"; 

@use "variables" as kvar;

* {
  margin: 0;
  padding: 0;
  font-family: kvar.$font-family-base;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: inherit;
}

:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: kvar.$font-size-root;
}

picture,
video,
canvas,
svg {
  display: block;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

strong {
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

legend,
caption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

ul,
ol {
  list-style: none;
}

li {
  list-style: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

a,
label,
button,
input[type=button],
input[type=submit],
input[type=radio],
input[type=checkbox] {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none
}

a {
  color: inherit;
  text-decoration: none;
}

img,
fieldset,
iframe {
  border: 0 none
}

img {
  vertical-align: top
}

i,
em,
address {
  font-style: normal
}

input[type=text],
input[type=password],
input[type=image],
textarea,
button {
  font-family: inherit;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  border-radius: 0;
  -webkit-border-radius: 0
}

select {
  color: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

input:focus,
button:focus {
  outline: none
}

hr {
  display: none
}

/* placeholder */
::placeholder {
  color: #a3a7b6;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a3a7b6;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a3a7b6;
}