/* Box sizing */
*, *::before, *::after { box-sizing: border-box; }

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd { margin: 0; }

/* Base */
html { font-size: $font-size-root; }
body {
  min-height: 100dvh;
  font-family: $font-family-sans;
  font-weight: 400;
  color: $gray-900;
  background: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Media defaults */
img, picture, video, canvas, svg { display: block; max-width: 100%; }

/* Form elements */
input, button, textarea, select { font: inherit; color: inherit; }
button, [role="button"] { cursor: pointer; }
button { border: 0; background: none; }

/* Lists */
ul[role="list"], ol[role="list"] { list-style: none; }
ul, ol { padding-left: 1.6rem; }

/* Anchor */
a { color: inherit; text-decoration: none; }

/* Table */
table { border-collapse: collapse; border-spacing: 0; }

/* Reduce animations for prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  * { animation-duration: .001ms !important; animation-iteration-count: 1 !important; transition-duration: .001ms !important; }
}
