// color
$ky-primary: #C61C78;
$ky-secondary: #0d6efd;
$ky-third: #0A233F;
$ky-error: #dc3545;

$white: #fff;
$ky-gray-1: #f8f9fa !default;
$ky-gray-2: #e9ecef !default;
$ky-gray-3: #dee2e6 !default;
$ky-gray-4: #ccc !default;
$ky-gray-5: #adb5bd !default;
$ky-gray-6: #6c757d !default;
$ky-gray-7: #495057 !default;
$ky-gray-8: #343a40 !default;
$ky-gray-9: #212529 !default;
$black: #000;

$ky-text: #111;
$ky-muted: #6b7280;

$font-family-base: "Pretendard", "맑은 고딕", "Malgun Gothic", sans-serif;
$font-size-root: 10px;

$space-1: .4rem;  // 4px
$space-2: .8rem;   // 8px
$space-3: 1.2rem;  // 12px
$space-4: 1.6rem;    // 16px
$space-5: 2rem;    // 20px
$space-6: 2.4rem;    // 24px
$space-7: 2.8rem;    // 28px
$space-8: 3.2rem;    // 32px
$space-9: 3.6rem;    // 36px
